*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(background.jpg);
  background-size: cover;
}

.top-container{
  width: 1000px;
  height: 600px;
  margin: auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.container{
  width: 800px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.logo{
  width: 200px;
}

nav > h1{
  font-family: sans-serif;
  font-size: 30px;
  color: limegreen;
}

nav div{
  background-color: limegreen;
  height: 40px;
  padding-top: 10px;
}

main{
  text-align: left;
  color: white;
  font-family: sans-serif;
}

.barra-gino{
  background-color: orange;
  width: 35%;
  height: 20px;
  border-radius: 5px;
}

.barra-mike{
  background-color: limegreen;
  width: 70%;
  height: 20px;
  border-radius: 5px;
}

.barra-fede{
  background-color: red;
  width: 15%;
  height: 20px;
  border-radius: 5px;
}
